{% extends "coffee/layout.html" %}
{% load static %}

{% block body %}


<div class="text-center">
    <img src="{% static 'coffee/logo.jpg' %}" alt="Logo" id="logo">
    <h2>Login</h2>

    <form method="post" action="{% url 'coffee:login' %}" class="form-signin">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
    {% if error %}
    <p class="text-danger">{{ error }}</p>
    {% endif %}
    <p><a href="{% url 'coffee:signup' %}">Sign up</a></p>
</div>
{% endblock %}
